.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin: 3px 0;
    display: block;
}

.post-heading-bg{
    background: gray;
    padding: 4px;
    margin: 3px 0;
    display: block;
}

.post-thumb{
	width:100%;
}

.post-comment{
    background: gray;
    padding: 4px;
    margin: 3px 0;
    display: block;
}
